html, body{
	height:90%;
	min-height:90%;
	width:99;	
}

#wrapper{
	width:90%;
	height:100%;
	min-height:100%;
	margin-left: auto;
	margin-right: auto;
	background-color:#ffc973;

}

#header{
width:100%;
height:25%;
overflow:hidden;
}

#nav{
width:100%;
height:5%;
margin-top:0px;
}

#content{
width:100%;
height:80%;
overflow:auto;
margin-right:15px;
	background-color:#ffc973;

}

#footer{
	width:100%;
	height:10%;
	margin-left: auto;
	margin-right: auto;
	background-color:#5B4CD8;
}

#panel,#flip
{
background-color:#5B4CD8;
width:45%;
}
#panel
{
display:none;
float:right;
width:94%;

}

#flip
{
float:left;
width:6%;
}

ul.ulnav
{
list-style-type:none;
margin:0;
padding:0;
height:100%;
overflow:hidden;
}
li.linav
{
display:inline;
}

a.nav:link,a.nav:visited
{
display:inline;
width:100%;
font-weight:bold;
color:#FFFFFF;
background-color:#5B4CD8;
text-align:center;
padding:8px;
text-decoration:none;
text-transform:uppercase;
}
a.nav:hover,a.nav:active
{
background-color:#130873;
display:inline;
width:100%;
}

a.navSelected:link,a.navSelected:visited
{
display:inline;
width:100%;
font-weight:bold;
color:white;
background-color:#130873;
text-align:center;
padding:8px;
text-decoration:none;
text-transform:uppercase;
}
a.navSelected:hover,a.navSelected:active
{
background-color:#130873;
display:inline;
width:100%;
}

.rollover_img a {
color: #fff;
display: block;
text-decoration: none;
}

.rollover_img a:hover {
background:#000;
filter:alpha(opacity=60);
}

.rollover_img a span {
display: none;
}

.rollover_img a:hover span {
display: block;
}